* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Alterado para centralizar todos os elementos */
    width: 100%;
    height: 100vh;
}

.title {
    font-family: "Jacquard 24", system-ui;
    text-align: center;
    font-size: 3em;
    color: white;
    margin-bottom: 20px; /* Adicionado para dar espaço entre o título e o texto */
}

.text {
    color: white;
    text-align: left;
    margin-left: 5%; /* Mantido para alinhar o texto à esquerda */
}

.text p {
    margin-bottom: 20px;
}

.text img {
    width: 35px;
}

.return a,
.start a,
.title { /* Adicionado para alinhar os links "Start" e "Return" no centro */
    text-align: center;
}

.return a,
.start a {
    margin-top: 20px; /* Adicionado para dar espaço entre os links "Start" e "Return" e o texto */
}

.return a,
.start a,
.title { /* Ajuste de margem para os elementos ficarem centralizados */
    margin-left: auto;
    margin-right: auto;
}

.return a,
.start a {
    font-family: "Jacquard 24", system-ui;
    color: white;
    text-decoration: none;
    font-size: 48px;
}
